# Build and Release Folders
/ConsolasExito.App.Consola/obj
/ConsolasExito.App.Consola/bin
/ConsolasExito.App.Dominio/obj
/ConsolasExito.App.Dominio/bin
/ConsolasExito.App.Persistencia/obj
/ConsolasExito.App.Persistencia/bin
/ConsolasExito.App.Presentacion/obj
/ConsolasExito.App.Presentacion/bin


bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
