/ConsolasExito.App.Consola/obj
/ConsolasExito.App.Consola/bin
/ConsolasExito.App.Dominio/obj
/ConsolasExito.App.Dominio/bin
/ConsolasExito.App.Persistencia/obj
/ConsolasExito.App.Persistencia/bin
/ConsolasExito.App.Presentacion/obj
/ConsolasExito.App.Presentacion/bin
