@page
@model ConsolasExito.App.Presentacion.Pages.CrudVideojuego.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Videojuego</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Videojuego.Nombre" class="control-label"></label>
                <input asp-for="Videojuego.Nombre" class="form-control" />
                <span asp-validation-for="Videojuego.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Videojuego.Version" class="control-label"></label>
                <input asp-for="Videojuego.Version" class="form-control" />
                <span asp-validation-for="Videojuego.Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Videojuego.Fabricante" class="control-label"></label>
                <input asp-for="Videojuego.Fabricante" class="form-control" />
                <span asp-validation-for="Videojuego.Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Videojuego.PrecioCompra" class="control-label"></label>
                <input asp-for="Videojuego.PrecioCompra" class="form-control" />
                <span asp-validation-for="Videojuego.PrecioCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Videojuego.PrecioVenta" class="control-label"></label>
                <input asp-for="Videojuego.PrecioVenta" class="form-control" />
                <span asp-validation-for="Videojuego.PrecioVenta" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Videojuego.Multiplataforma" /> @Html.DisplayNameFor(model => model.Videojuego.Multiplataforma)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
